<%- include("./partials/header") %>

<div class="container">
    <div class="card mb-3">
        <h6 class="card-header text-center"><%= currentUser.username %>'s Anime List</h6>
        <div class="tab-content">
            <div class="row m-0">
                <% data["anime"].forEach(function(ani){ %>
                    <div class="col-md-6 border-bottom p-2">
                        <div class="hover sm_anime_cover rounded float-left mr-2">
                            <a href="/anime/<%= ani["mal_id"] %>">
                                <img class="rounded max-width" src="<%= ani["image_url"] %>">
                            </a>
                        </div>
                        <div class="pt-0 pb-1 mb-1 title border-bottom d-flex align-items-center flex-nowrap">
                            <a class="anime_title text-truncate " href="/anime/<%= ani["mal_id"] %>"><%= ani["title"] %></a>
                            <span class="badge badge-light"><%= ani["type"] %></span>
                            <% if( ani["airing_status"] == 1) { %>
                            <span class="badge badge-primary">Airing</span>
                            <% } %>
                        </div>
                        <div class="text-truncate py-0 mb-1">
                            <% if( ani["score"] != null && ani["score"] != '0' ){ %>
                            <span class="text-info score">Your Score (<%= ani["score"] %>)</span>
                            <% } else {%>
                            <span class="text-info score">Your Score (-)</span>
                            <% } %>
                        </div>  
                        <div class="text-truncate py-0 mb-1">
                            <% if( ani["watching_status"] == 1) { %>
                                <span class="strong">Status: </span>Watching
                            <% } else if( ani["watching_status"] == 2) { %>
                                <span class="strong">Status: </span>Completed
                            <% } else if( ani["watching_status"] == 3) { %>
                                <span class="strong">Status: </span>On Hold
                            <% } else if( ani["watching_status"] == 4) { %>
                                <span class="strong">Status: </span>Dropped
                            <% } else if( ani["watching_status"] == 6) { %>
                                <span class="strong">Status: </span>Plan To Watch
                            <% } %>
                        </div>
                        <% if( ani["watching_status"] == 1) { %>
                            <div class="text-truncate py-0 mb-1">
                                <span class="strong">Progress: </span><%= ani["watched_episodes"] %>/<%= ani["total_episodes"] %> Episodes
                            </div>    
                        <% } %>
                        <% if( ani["watching_status"] == 2) { %>
                        <div class="text-truncate py-0 mb-1">
                            <span class="strong">Total Episodes: </span><%= ani["total_episodes"] %>
                        </div>    
                        <% } %>
                        <div class="text-truncate py-0 mb-1">
                            <% if( ani["end_date"] != null) { %>
                            <span class="strong">Aired: </span><%= ani["start_date"].substring(0,10) %> to <%= ani["end_date"].substring(0,10) %>
                            <% } else { %>
                            <span class="strong">Airing: </span><%= ani["start_date"].substring(0,10) %> to ? %>
                            <% } %>
                        </div>                  
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>