<%- include("./partials/header") %>

<div class="container">
    <div class="card mb-3">
        <h6 class="card-header text-center">Top Anime Of All Time</h6>
        <div class="tab-content">
            <div class="row m-0">
                <% data["top"].forEach(function(anime){ %>
                <div class="col-md-6 border-bottom p-2">
                    <div class="hover sm_anime_cover rounded float-left mr-2">
                        <a href="/anime/<%= anime["mal_id"] %>">
                            <img class="rounded max-width" src="<%= anime["image_url"] %>">
                        </a>
                    </div>
                    <div class="pt-0 pb-1 mb-1 title border-bottom d-flex align-items-center flex-nowrap">
                        <a class="anime_title text-truncate " href="/anime/<%= anime["mal_id"] %>"><%= anime["rank"] %>. <%= anime["title"] %></a>
                    </div>
                    <div class="text-truncate py-0 mb-1">
                        <span class="text-info">Score (<%= anime["score"] %>)</span>
                    </div>
                    <div class="py-0 mb-1 row no-gutters align-items-center flex-nowrap">
                        <%= anime["type"] %> (<%= anime["episodes"] %> Eps)
                    </div>
                    <div class="text-truncate py-0 mb-1">
                        <%= anime["start_date"] %> to <%= anime["end_date"] %>
                    </div>
                    <div class="text-truncate py-0 mb-1">
                        <%= anime["members"] %> Members
                    </div>                    
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <%if(page==1){%>
                <% for(var i=parseInt(page);i<parseInt(page)+7;i++){%>
                    <li class="page-item" style="margin-right: 0;">
                        <a class="page-link" href="/top/anime/<%=i%>">
                            <%=i%>
                        </a>
                    </li
                <%}%>
            <%} else if(page>1){%>
                <% for(var i=parseInt(page)-1;i<parseInt(page)+6 && i < 11 ;i++){%>
                    <li class="page-item" style="margin-left: 0;">
                        <a class="page-link" href="/top/anime/<%=i%>">
                            <%=i%>
                        </a>
                    </li>
                <%}%>
            <%}%>
        </ul>
    </nav>
</div>