<%- include("./partials/header") %>

<div class="container">
    <h3>Spring 2020 Season</h3>
    <a href="/season/2020/summer" class="h6" style="color: black;">
        Next Season: Summer 2020 Season
    </a>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["anime"].forEach(function(season){ %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/anime/<%= season["mal_id"] %>">
                    <img src="<%= season["image_url"] %>" width="100%" alt="anime-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= season["mal_id"] %>"><%= season["title"] %></a>
            </div>
            <div>
                <% if( season.genres != null ){ %>
                    <% for( var j = 0; j < season.genres.length; j++) { %>
                        <a href="/genre/<%= season.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= season.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( season["score"] != null && season["score"] != '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= season["score"] %></span>)</li>
                <% } else { %>
                <li class="list-inline-item text-primary">Score (-)</li>
                <% } %>
                <% season.producers.forEach(function(studio){ %>
                <li class="list-inline-item text-success"><%= studio["name"] %></li>
                <% }) %>
                <li class="list-inline-item text-secondary">Source: <%= season["source"] %> 
                    <% if( season["episodes"] != null){ %>
                        | <%= season["episodes"] %> Eps
                    <% } else { %>
                        | ? Eps
                    <% } %>
                </li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= season["synopsis"].substring(0,400) %>...
                <br>
                <% if( season["airing_start"] != null && season.type != null){ %>
                    <span class="text-info"><em><%= season.type %>- <%= season["airing_start"].substring(0,10) %></em></span>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>
</div>