<!---------- Episode Data ---------->

<%- include("./partials/header") %>

<div class="container">
    <div class="card mb-3">
        <h6 class="card-header text-center">List Of Episodes</h6>
        <div class="tab-content">
            <div class="row m-0">
                <% data["episodes"].forEach(function(epi){ %>
                <div class="col-md-6 border-bottom p-2">
                    <div class="pt-0 pb-1 mb-1 episode_title border-bottom d-flex align-items-center flex-nowrap strong">
                        <%= epi["episode_id"] %>. <%= epi["title"] %> 
                            <% if( epi["title_japanese"] != null ){ %>
                                ( <%= epi["title_japanese"] %> )
                            <% } %>
                    </div>
                    <% if( epi["title_romanji"] != null) { %>
                    <div class="text-truncate py-0 mb-1">
                        <span class="strong">Title Romanji: </span>( <%= epi["title_romanji"] %> ) 
                    </div>
                    <% } %>                   
                    <% if( epi["aired"] != null) { %>
                        <div class="text-truncate py-0 mb-1">
                            <span class="strong">Aired On: </span><%= epi["aired"].substring(0,10) %>
                        </div>
                    <% } %>
                    <div class="text-truncate py-0 mb-1">
                        <span class="strong">Filler: </span><%= epi["filler"] %>
                    </div>
                    <div class="text-truncate py-0 mb-1">
                        <span class="strong">Recap: </span><%= epi["recap"] %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <% if( page == 1 ){%>
                <% for(var i = parseInt(page); i < parseInt(page) + data.episodes_last_page ; i++) { %>
                    <li class="page-item" style="margin-right: 0;">
                        <a class="page-link" href="/anime/<%= mal_id %>/episodes/<%= i %>">
                            <%= i %>
                        </a>
                    </li
                <% } %>
            <% } else if( page > 1) {%>
                <% for( var i = parseInt(page) - 1 ; i < parseInt(page) + 1 && i <= data.episodes_last_page ; i++) { %>
                    <li class="page-item" style="margin-left: 0;">
                        <a class="page-link" href="/anime/<%= mal_id %>/episodes/<%= i %>">
                            <%= i %>
                        </a>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </nav>
</div>

<%- include("./partials/footer") %>