<%- include("./partials/header") %>

<div class="container" style="margin-top: 15px;">
    <h3 style="margin-top: 25px; margin-bottom: 15px;"><%= data.mal_url.name %></h3>
    <hr>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% data["anime"].forEach(function(ani) { %>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <div class="thumbnail">
                    <img style="width: 225px; height: 346px; object-fit: cover;" src="<%= ani["image_url"] %>">
                    <div class="caption">
                        <h5 style="margin-bottom: 7px; margin-top: 7px;"><%= ani["title"] %></h5>
                        <hr style="margin-bottom: 3px; margin-top: 3px;">
                    </div>
                    <% if ( ani["airing_start"] != null){ %>
                        <h6 style="display: inline-block;">Airing Start: </h6>
                            <%= ani["airing_start"].substring(0,10) %>
                    <% } %>
                    <p class="card-text" style="margin-bottom: 5px;"><%= ani["synopsis"].substring(0,150) %> ...</p>
                    <% if( ani["genres"] != null ){ %>
                        <h6 style="display: inline-block; line-height: 65%;" style="margin-bottom: 5px;">Genres: </h6> 
                        <% for( var i = 0; i < ani["genres"].length; i++) { %>
                            <a href="/genre/<%= ani.genres[i]["mal_id"] %>" class="badge badge-info"><%= ani.genres[i]["name"] %></a>
                        <% } %>
                        <br>
                    <% } %>
                    <% if( ani["score"] != null ){ %>
                        <h6 style="display: inline-block;" style="margin-bottom: 5px;">Score: </h6> <%= ani["score"] %><br>
                    <% } %>
                    <% if( ani["source"] != null ){ %>
                        <h6 style="display: inline-block;">Source: </h6> <%= ani["source"] %><br>
                    <% } %>
                    <a href="/anime/<%= ani["mal_id"] %>" class="btn btn-primary">More Info</a>
                </div>
            </div>  
        <% }); %>
    </div>
</div>