<%- include("./partials/header") %>

<div class="container">
    <h3><%= data.mal_url.name %></h3>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["manga"].forEach(function(ani) { %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/manga/<%= ani["mal_id"] %>">
                    <img src="<%= ani["image_url"] %>" width="100%" alt="manga-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 manga_title text-truncate" href="/manga/<%= ani["mal_id"] %>"><%= ani["title"] %></a>
            </div>
            <div>
                <% if( ani.genres != null ){ %>
                    <% for( var j = 0; j < ani.genres.length; j++) { %>
                        <a href="/genre/manga/<%= ani.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= ani.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( ani["score"] != null || ani["score"] != '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= ani["score"] %></span>)</li>
                <% } %>
                <% ani.authors.forEach(function(author){ %>
                <li class="list-inline-item text-success"><%= author["name"] %></li>
                <% }) %>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= ani["synopsis"].substring(0,400) %>...
                <br>
                <% if( ani["publishing_start"] != null && ani.type != null){ %>
                    <span class="text-info"><em><%= ani.type %>- <%= ani["publishing_start"].substring(0,10) %></em></span>
                <% } %>
                <br>
                <span class="text-secondary">
                    Serialization: <%= ani["serialization"] %> 
                    <% if( ani["volumes"] != null) { %>
                        (<%= ani["volumes"] %> Volumes)
                    <% } else { %>
                        ( ? Volumes)
                    <% } %>
                </span>
            </div>
        </div>
        <% }); %>
    </div>
</div>