<%- include("./partials/header") %>

<div class="container">
    <div class="card mb-3">
        <h6 class="card-header text-center"><%= currentUser.username %>'s Manga List</h6>
        <div class="tab-content">
            <div class="row m-0">
                <% data["manga"].forEach(function(ani){ %>
                    <div class="col-md-6 border-bottom p-2">
                        <div class="hover sm_anime_cover rounded float-left mr-2">
                            <a href="/manga/<%= ani["mal_id"] %>">
                                <img class="rounded max-width" src="<%= ani["image_url"] %>">
                            </a>
                        </div>
                        <div class="pt-0 pb-1 mb-1 title border-bottom d-flex align-items-center flex-nowrap">
                            <a class="anime_title text-truncate " href="/manga/<%= ani["mal_id"] %>"><%= ani["title"] %></a>
                            <% if( ani["publishing_status"] == 1) { %>
                            <span class="badge badge-light">Publishing</span>
                            <% } %>
                        </div>
                        <div class="text-truncate py-0 mb-1">
                            <% if( ani["score"] != null && ani["score"] != '0' ){ %>
                            <span class="text-info score">Your Score (<%= ani["score"] %>)</span>
                            <% } else {%>
                            <span class="text-info score">Your Score (-)</span>
                            <% } %>
                        </div>  
                        <div class="text-truncate py-0 mb-1">
                            <% if( ani["reading_status"] == 1) { %>
                                <span class="strong">Status: </span>Reading
                            <% } else if( ani["reading_status"] == 2) { %>
                                <span class="strong">Status: </span>Completed
                            <% } else if( ani["reading_status"] == 3) { %>
                                <span class="strong">Status: </span>On Hold
                            <% } else if( ani["reading_status"] == 4) { %>
                                <span class="strong">Status: </span>Dropped
                            <% } else if( ani["reading_status"] == 6) { %>
                                <span class="strong">Status: </span>Plan To Read
                            <% } %>
                        </div>
                        <% if( ani["reading_status"] == 1) { %>
                            <div class="text-truncate py-0 mb-1">
                                <span class="strong">Progress: </span><%= ani["read_chapters"] %>/
                                <% if( ani["total_chapters"] != null && ani["total_chapters"] != '0'){ %>
                                <%= ani["total_chapters"] %> Chapters
                                <% } else { %>
                                - Chapters
                                <% } %>
                            </div>    
                        <% } %>
                        <% if( ani["reading_status"] == 2) { %>
                        <div class="text-truncate py-0 mb-1">
                            <span class="strong">Total Chapters: </span><%= ani["total_chapters"] %>
                        </div>    
                        <% } %>
                        <div class="text-truncate py-0 mb-1">
                            <% if( ani["end_date"] != null) { %>
                            <span class="strong">Published: </span><%= ani["start_date"].substring(0,10) %> to <%= ani["end_date"].substring(0,10) %>
                            <% } else { %>
                            <span class="strong">Publishing: </span><%= ani["start_date"].substring(0,10) %> to ? %>
                            <% } %>
                        </div>                  
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>