<!-- Displays data of a Manga -->

<%- include("./partials/header") %>

<div class="container" style="margin-top: 15px;">
    <div>
        <h3 style="margin-top: 30px;">
            <%= data.title %>
        </h3>
    </div>
    
    <div class="media" style="margin-top: 20px;">
        <img class="align-self-center mr-3" src="<%= data.image_url %>" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0" style="display: inline-block;">Synopsis</h5>
            <h5 style="float: right;">
                Rating <%= data.score %>
            </h5>
            <hr>
            <p><%= data.synopsis %></p>
        </div>
    </div>
    
    <% if( data.background != null ){ %>
        <div style="margin-top: 20px;">
            <h5>Background</h5>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
            <p>
                <%= data.background %>
            </p>
        </div>
    <% } %>   

<div class="row">
    <div class="col">
        <div>
            <h5>Information</h5>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
            <p>
                <h6 style="display: inline-block; margin-bottom: 7px;">Type</h6>: <%= data.type %>
                <br>
                <h6 style="display: inline-block; margin-bottom: 7px;">Volumes</h6>: <%= data.volumes %>
                <br>
                <h6 style="display: inline-block; margin-bottom: 7px;">Chapters</h6>: <%= data.chapters %>
                <br>
                <h6 style="display: inline-block; margin-bottom: 7px;">Status</h6>: <%= data.status %>
                <br>
                <h6 style="display: inline-block; margin-bottom: 7px;">Published</h6>: <%= data.published.string %>
                <br>
                <h6 style="display: inline-block; margin-bottom: 7px;">Author</h6>: 
                    <% data["authors"].forEach(function(auth) { %>
                        <%= auth["name"] %>
                    <% }) %>
                <br>
                <% if( typeof data.serializations != 'undefined'){ %>
                <h6 style="display: inline-block; margin-bottom: 7px;">Serializations</h6>: 
                    <% data["serializations"].forEach(function(srlz) { %>
                        <%= srlz["name"] %>
                    <% }) %>
                <br>
                <% } %>
            </p>
            <h5>Statistics</h5>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
            <p>
                <h6 style="display: inline-block; margin-bottom: 7px;">Score</h6>: <%= data.score %> (Scored by <%= data.scored_by %> users)
                <br>
                <h6 style="display: inline-block; margin-bottom: 7px;">Ranked</h6>: #<%= data.rank %>
                <br>
                <h6 style="display: inline-block; margin-bottom: 7px;">Popularity</h6>: <%= data.popularity %>
                <br>
                <h6 style="display: inline-block; margin-bottom: 7px;">Members</h6>: <%= data.members %>
                <br>
                <% if( data.favourites != null ){ %>
                <h6 style="display: inline-block; margin-bottom: 7px;">Favourites</h6>: 
                    <%= data.favourites %>
                <br>
                <% } %>
            </p>
        </div>
    </div>
    <div class="col">
        
        <% if( typeof data.related["Adaptation"] != 'undefined'){ %>
            <div>
                <h5>Adaptation</h5>
                <hr style="margin-top: 10px; margin-bottom: 10px;">
                <p>
                    <% data.related["Adaptation"].forEach(function(adap){ %>
                        <a href="/anime/<%= adap["mal_id"] %>">
                            <%= adap["name"] %> <br>
                        </a>
                        <% }) %>
                </p>
            </div>
        <% } %>
        <% if( typeof data.related["Parent story"] != 'undefined'){ %>
            <div>
                <h5>Parent Stories</h5>
                <hr style="margin-top: 10px; margin-bottom: 10px;">
                <p>
                    <% data.related["Parent story"].forEach(function(parent){ %>
                        <a href="/manga/<%= parent["mal_id"] %>">
                            <%= parent["name"] %>
                        </a>
                    <% }) %>
                </p>
            </div>
        <% } %>
        <% if( typeof data.related["Prequel"] != 'undefined'){ %>
            <div>
                <h5>Prequel</h5>
                <hr style="margin-top: 10px; margin-bottom: 10px;">
                <p>
                    <% data.related["Prequel"].forEach(function(prequel) { %>
                        <a href="/manga/<%= prequel["mal_id"] %>"> <%= prequel["name"] %> </a>
                    <% }) %>
                </p>
            </div>
        <% } %> 
        <% if( typeof data.related["Sequel"] != 'undefined'){ %>   
            <div>
                <h5>Sequel</h5>
                <hr style="margin-top: 10px; margin-bottom: 10px;">
                <p>
                    <% data.related["Sequel"].forEach(function(sequel) { %>
                        <a href="/manga/<%= sequel["mal_id"] %>"> <%= sequel["name"] %> </a>
                    <% }) %>
                </p>
            </div>
        <% } %>
        <% if( typeof data.related["Alternative version"] != 'undefined'){ %>
            <div>
                <h5>Alternative Version</h5>
                <hr style="margin-top: 10px; margin-bottom: 10px;">
                <p>
                    <% data.related["Alternative version"].forEach(function(alt){ %>
                        <a href="/manga/<%= alt["mal_id"] %>">
                            <%= alt["name"] %> <br>
                        </a>
                        <% }) %>
                </p>
            </div>
        <% } %>
        <% if( typeof data.related["Side story"] != 'undefined'){ %>
        <div>
            <h5>Side Stories</h5>
            <hr style="margin-top: 10px; margin-bottom: 10px;">
            <p>
                <% data.related["Side story"].forEach(function(story){ %>
                    <a href="/manga/<%= story["mal_id"] %>">
                        <%= story["name"] %> <br>
                    </a>
                    <% }) %>
            </p>
        </div>
        <% } %>
    </div>
</div>

</div>