<!-- Displays data of a Manga -->

<%- include("./partials/header") %>

<div class="container">
    <div class="row mt-1">
        <div class="col-lg-9">
            <div class="card mb-3">
                <h6 class="card-header d-flex align-items-center">
                    <span class="mx-1 title"><%= data.title %></span>
                </h6>
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-5">
                            <a href="/anime/<%= data.mal_id %>">
                                <img class="rounded" width="100%" src="<%= data.image_url %>">
                            </a>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-7">
                            <% if( data.title_synonyms.length != 0){ %>            
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Alt Name(s):
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <% data["title_synonyms"].forEach(function(title) { %>
                                        <%= title["name"] %>
                                    <% }) %>  
                                </div>
                            </div>
                            <% } %>
                            <div class="row m-0 py-1 px-0">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Type:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.type %>
                                </div>
                            </div>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Score:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.score %>
                                </div>
                            </div>
                            <% if(typeof data.source != 'undefined') { %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Source:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.source %>
                                </div>
                            </div>
                            <% } %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Status:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.status %>
                                </div>
                            </div>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Published:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.published.string %>
                                </div>
                            </div>
                            <% if( typeof data["authors"] != 'undefined' && data.authors.length != 0){ %>
                                <div class="row m-0 py-1 px-0 border-top">
                                    <div class="col-lg-4 col-xl-2 strong">
                                        Authors:
                                    </div>
                                    <div class="col-lg-8 col-xl-10">
                                        <% data["authors"].forEach(function(auth) { %>
                                            <a href="/person/<%= auth["mal_id"] %>"><%= auth["name"] %></a>
                                        <% }) %>                                
                                    </div>
                                </div>
                                <% } %>
                            <% if( typeof data["genres"] != 'undefined'){ %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Genres:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <% for( var i = 0; i < data["genres"].length; i++) { %>
                                        <a href="/genre/anime/<%= data.genres[i]["mal_id"] %>" class="badge badge-light genre"><%= data.genres[i]["name"] %></a>
                                    <% } %>
                                </div>
                            </div>
                            <% } %>
                            <% if( typeof data["volumes"] != 'undefined' && data.volumes != null ){ %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Volumes:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.volumes %>
                                </div>
                            </div>
                            <% } %>
                            <% if( typeof data["chapters"] != 'undefined' && data.chapters != null ){ %>
                                <div class="row m-0 py-1 px-0 border-top">
                                    <div class="col-lg-4 col-xl-2 strong">
                                        Chapters:
                                    </div>
                                    <div class="col-lg-8 col-xl-10">
                                        <%= data.chapters %>
                                    </div>
                                </div>
                                <% } %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Synopsis:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.synopsis %>
                                </div>
                            </div>
                            <% if( data.serializations.length != 0){ %>            
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Serialization:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <% data["serializations"].forEach(function(Serialization) { %>
                                        <%= Serialization["name"] %>
                                    <% }) %>  
                                </div>
                            </div>
                            <% } %>
                            <% if( typeof data["background"] != 'undefined' && data.background != null ){ %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Background:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <%= data.background %>
                                </div>
                            </div>
                            <% } %>
                            <% if( typeof data["studios"] != 'undefined'){ %>
                                <div class="row m-0 py-1 px-0 border-top">
                                    <div class="col-lg-4 col-xl-2 strong">
                                        Studio(s):
                                    </div>
                                    <div class="col-lg-8 col-xl-10">
                                        <% data["studios"].forEach(function(studio){ %>    
                                            <a href="/studio/<%= studio["mal_id"] %>"><%= studio.name %></a>
                                        <% }) %>                               
                                    </div>
                                </div>
                                <% } %>
                            <% if( typeof data.related["Adaptation"] != 'undefined'){ %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Adaptation:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <% for( var i = 0; i < data.related["Adaptation"].length; i++) { %>
                                        <% if( i != data.related["Adaptation"].length - 1) { %>
                                            <a href="/anime/<%= data.related["Adaptation"][i]["mal_id"] %>"><%= data.related["Adaptation"][i]["name"] + ','  %></a>
                                        <% } else { %>
                                            <a href="/anime/<%= data.related["Adaptation"][i]["mal_id"] %>"><%= data.related["Adaptation"][i]["name"] %></a>
                                        <% } %>
                                    <% } %>                                
                                </div>
                            </div>
                            <% } %>
                            <% if( typeof data.related["Prequel"] != 'undefined'){ %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Prequel:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <% data.related["Prequel"].forEach(function(prequel) { %>
                                        <a href="/manga/<%= prequel["mal_id"] %>"> <%= prequel["name"] %> </a>
                                    <% }) %>                                
                                </div>
                            </div>
                            <% } %>
                            <% if( typeof data.related["Sequel"] != 'undefined'){ %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Sequel:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <% data.related["Sequel"].forEach(function(sequel) { %>
                                        <a href="/manga/<%= sequel["mal_id"] %>"> <%= sequel["name"] %> </a>
                                    <% }) %>                                
                                </div>
                            </div>
                            <% } %>
                            <% if( typeof data.related["Parent story"] != 'undefined'){ %>
                                <div class="row m-0 py-1 px-0 border-top">
                                    <div class="col-lg-4 col-xl-2 strong">
                                        Parent Story:
                                    </div>
                                    <div class="col-lg-8 col-xl-10">
                                        <% data.related["Parent story"].forEach(function(story) { %>
                                            <a href="/manga/<%= story["mal_id"] %>"><%= story["name"] %></a><br>
                                        <% }) %>                                
                                    </div>
                                </div>
                                <% } %>
                            <% if( typeof data.related["Side story"] != 'undefined'){ %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Side Story:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <% data.related["Side story"].forEach(function(story) { %>
                                        <a href="/manga/<%= story["mal_id"] %>"><%= story["name"] %></a><br>
                                    <% }) %>                                
                                </div>
                            </div>
                            <% } %>
                            <% if( typeof data.related["Alternative version"] != 'undefined'){ %>
                                <div class="row m-0 py-1 px-0 border-top">
                                    <div class="col-lg-4 col-xl-2 strong">
                                        Alternative Version(s):
                                    </div>
                                    <div class="col-lg-8 col-xl-10">
                                        <% data.related["Alternative version"].forEach(function(story) { %>
                                            <a href="/manga/<%= story["mal_id"] %>"><%= story["name"] %></a><br>
                                        <% }) %>                                
                                    </div>
                                </div>
                                <% } %>
                                <% if( typeof data.related["Spin-off"] != 'undefined'){ %>
                                <div class="row m-0 py-1 px-0 border-top">
                                    <div class="col-lg-4 col-xl-2 strong">
                                        Spin Off(s):
                                    </div>
                                    <div class="col-lg-8 col-xl-10">
                                        <% data.related["Spin-off"].forEach(function(story) { %>
                                            <a href="/manga/<%= story["mal_id"] %>"><%= story["name"] %></a><br>
                                        <% }) %>                                
                                    </div>
                                </div>
                                <% } %>
                            <% if( typeof data.related["Other"] != 'undefined'){ %>
                                <div class="row m-0 py-1 px-0 border-top">
                                    <div class="col-lg-4 col-xl-2 strong">
                                        Other:
                                    </div>
                                    <div class="col-lg-8 col-xl-10">
                                        <% data.related["Other"].forEach(function(story) { %>
                                            <a href="/manga/<%= story["mal_id"] %>"><%= story["name"] %></a><br>
                                        <% }) %>                                
                                    </div>
                                </div>
                                <% } %>
                            <div class="row m-0 py-1 px-0 border-top">
                                <div class="col-lg-4 col-xl-2 strong">
                                    Recommendations:
                                </div>
                                <div class="col-lg-8 col-xl-10">
                                    <a href="/manga/<%= data.mal_id %>/recommendations">If you like this then you may like these</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card mb-3">
                <h6 class="card-header text-center">Information & Statistics</h6>
                <div class="tab-content">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-2 py-1">
                            <div class="row">
                                <div class="col-4 strong">
                                    Score:
                                </div>
                                <div class="col-8">
                                    <%= data.score %> (Scored by <%= data.scored_by %> users)
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item px-2 py-1">
                            <div class="row">
                                <div class="col-4 strong">
                                    Ranked:
                                </div>
                                <div class="col-8">
                                    #<%= data.rank %>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item px-2 py-1">
                            <div class="row">
                                <div class="col-4 strong">
                                    Popularity:
                                </div>
                                <div class="col-8">
                                    #<%= data.popularity %>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item px-2 py-1">
                            <div class="row">
                                <div class="col-4 strong">
                                    Members:
                                </div>
                                <div class="col-8">
                                    <%= data.members %>
                                </div>
                            </div>
                        </li>
                        <% if( typeof data["producers"] != 'undefined' && data["producers"].length != 0){ %>
                        <li class="list-group-item px-2 py-1">
                            <div class="row">
                                <div class="col-4 strong">
                                    Producers:
                                </div>
                                <div class="col-8">
                                    <% for( var i = 0; i < data["producers"].length; i++) { %>
                                        <% if( i != data["producers"].length - 1) { %>
                                            <a href="/studio/<%= data["producers"][i]["mal_id"] %>"><%= data["producers"][i]["name"] + ','  %></a>
                                        <% } else { %>
                                            <a href="/studio/<%= data["producers"][i]["mal_id"] %>"><%= data["producers"][i]["name"] %></a>
                                        <% } %>
                                    <% } %> 
                                </div>
                            </div>
                        </li>
                        <% } %>
                        <% if( typeof data["licensors"] != 'undefined' && data["licensors"].length != 0){ %>
                        <li class="list-group-item px-2 py-1">
                            <div class="row">
                                <div class="col-4 strong">
                                    Licensors:
                                </div>
                                <div class="col-8">
                                    <% for( var i = 0; i < data["licensors"].length; i++) { %>
                                        <% if( i != data["licensors"].length - 1) { %>
                                            <a href="/studio/<%= data["licensors"][i]["mal_id"] %>"><%= data["licensors"][i]["name"] + ','  %></a>
                                        <% } else { %>
                                            <a href="/studio/<%= data["licensors"][i]["mal_id"] %>"><%= data["licensors"][i]["name"] %></a>
                                        <% } %>
                                    <% } %> 
                                </div>
                            </div>
                        </li>
                        <% } %>
                        <% if( typeof data.rating != 'undefined'){ %>
                        <li class="list-group-item px-2 py-1">
                            <div class="row">
                                <div class="col-4 strong">
                                    Rating:
                                </div>
                                <div class="col-8">
                                    <%= data.rating %>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>