<%- include("./partials/header") %>

<div class="container" style="margin-top: 15px;">
    <h4 style="margin-top: 25px; margin-bottom: 15px;"><%= currentUser.username %>'s Manga List</h4>
    <hr>
    
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% data["manga"].forEach(function(mng){ %>
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                    <div class="thumbnail">
                        <img style="width: 225px; height: 346px; object-fit: cover;" src="<%= mng["image_url"] %>">
                        <div class="caption">
                            <h5 style="margin-bottom: 7px; margin-top: 7px; display: inline-block; vertical-align: middle;"><%= mng["title"] %></h5> 
                            <% if( mng["publishing_status"] == 1) { %>
                                <span class="badge badge-primary" style="vertical-align: middle; display: inline-block;">Publishing</span>
                            <% } %>
                            <% if( mng["publishing_status"] == 2) { %>
                                <span class="badge badge-success" style="vertical-align: middle; display: inline-block;">Finished</span>
                            <% } %>
                            <hr style="margin-bottom: 3px; margin-top: 3px;">
                        </div>
                            <% if( mng["reading_status"] == 1) { %>
                                <h6 style="display: inline-block;">Status: </h6> Reading<br>
                                <% if( mng["read_chapters"] != null && mng["total_chapters"] != '0' ){ %>
                                    <h6 style="display: inline-block;">Chapters Read: </h6> <%= mng["read_chapters"] %>/<%= mng["total_chapters"] %><br>
                                <% } else { %>
                                    <h6 style="display: inline-block;">Chapters Read: </h6> <%= mng["read_chapters"] %>/-<br>
                                <% } %>
                            <% } else if( mng["reading_status"] == 2) { %>
                                <h6 style="display: inline-block;">Status: </h6> Completed<br>
                                <h6 style="display: inline-block;">Total Chapters: </h6> <%= mng["total_chapters"] %><br>
                            <% } else if( mng["reading_status"] == 4) { %>
                                <h6 style="display: inline-block;">Status: </h6> Dropped<br>
                            <% } else if( mng["reading_status"] == 6) { %>
                                <h6 style="display: inline-block;">Status: </h6> Plan to Read<br>
                                <% if( mng["total_chapters"] != '0' ){ %>
                                    <h6 style="display: inline-block;">Total Chapters: </h6> <%= mng["total_chapters"] %><br>
                                <% } else { %>
                                    <h6 style="display: inline-block;">Total Chapters: </h6> -<br>
                                <% } %>
                            <% } %>
                            <h6 style="display: inline-block;">Type: </h6> <%= mng["type"] %><br>
                            <% if( mng["score"] != null && mng["score"] != '0' ){ %>
                                <h6 style="display: inline-block;">Your Score: </h6> <%= mng["score"] %><br>
                            <% } else {%>
                                <h6 style="display: inline-block;">Your Score: </h6> -<br>
                            <% } %>
                                <a href="/manga/<%= mng["mal_id"] %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
        <% }); %>
    </div>
</div>