<%- include("./partials/header") %>

<div class="container">
    <div class="card mb-3">
        <h6 class="card-header text-center">If You Liked It You May Like These</h6>
        <div class="tab-content">
            <div class="row m-0">
                <% data["recommendations"].forEach(function(recom){ %>
                <div class="col-md-3 d-flex border-bottom p-2">
                    <div class="float-left mr-2">
                        <div class="hover rounded anime_cover" style="height: 200px;">
                            <a href="/anime/<%= recom["mal_id"] %>">
                                <img src="<%= recom["image_url"] %>" width="100%" alt="anime-cover">
                            </a>
                        </div>
                    </div>
                    <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                        <a class="ml-1 anime_title text-truncate" href="/anime/<%= recom["mal_id"] %>"><%= recom["title"] %></a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>