<%- include("./partials/header") %>
<div class="container">
    <h3 style="margin-top: 25px; margin-bottom: 15px;">Daily Schedule</h3>

<h4>Sunday</h4>
<hr>
<div class="row" style="display: flex; flex-wrap: wrap;">
    <% data["sunday"].forEach(function(day) {%>
        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
            <div class="thumbnail">
                <img style="width: 225px; height: 346px; object-fit: cover;" src="<%= day["image_url"] %>">
                <div class="caption">
                    <h5 style="margin-bottom: 7px; margin-top: 7px;"><%= day["title"] %></h5>
                    <hr style="margin-bottom: 3px; margin-top: 3px;">
                </div>
                    <p class="card-text"><%= day["synopsis"].substring(0,150) %> ...</p>
                    <% if( day["source"] != null ){ %>
                        <h6 style="display: inline-block;">Score: </h6> <%= day["source"] %><br>
                    <% } %>
                    <% if( day["score"] != null && day["score"] != '0' ){ %>
                        <h6 style="display: inline-block;">Score: </h6> <%= day["score"] %><br>
                    <% } %>
                    <a href="/anime/<%= day["mal_id"] %>" class="btn btn-primary">More Info</a>
            </div>
        </div>
    <% }) %>     
</div>

<h4>Monday</h4>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% data["monday"].forEach(function(day) {%>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <div class="thumbnail">
                    <img style="width: 225px; height: 346px; object-fit: cover;" src="<%= day["image_url"] %>">
                    <div class="caption">
                        <h5 style="margin-bottom: 7px; margin-top: 7px;"><%= day["title"] %></h5>
                        <hr style="margin-bottom: 3px; margin-top: 3px;">
                    </div>
                        <p class="card-text"><%= day["synopsis"].substring(0,150) %> ...</p>
                        <% if( day["source"] != null ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["source"] %><br>
                        <% } %>
                        <% if( day["score"] != null && day["score"] != '0' ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["score"] %><br>
                        <% } %>
                        <a href="/anime/<%= day["mal_id"] %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <% }) %>     
    </div>
    
    <h4>Tuesday</h4>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% data["tuesday"].forEach(function(day) {%>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <div class="thumbnail">
                    <img style="width: 225px; height: 346px; object-fit: cover;" src="<%= day["image_url"] %>">
                    <div class="caption">
                        <h5 style="margin-bottom: 7px; margin-top: 7px;"><%= day["title"] %></h5>
                        <hr style="margin-bottom: 3px; margin-top: 3px;">
                    </div>
                        <p class="card-text"><%= day["synopsis"].substring(0,150) %> ...</p>
                        <% if( day["source"] != null ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["source"] %><br>
                        <% } %>
                        <% if( day["score"] != null && day["score"] != '0' ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["score"] %><br>
                        <% } %>
                        <a href="/anime/<%= day["mal_id"] %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <% }) %>     
    </div>

    <h4>Wednesday</h4>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% data["wednesday"].forEach(function(day) {%>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
            <div class="thumbnail">
                <img style="width: 225px; height: 346px; object-fit: cover;" src="<%= day["image_url"] %>">
                <div class="caption">
                    <h5 style="margin-bottom: 7px; margin-top: 7px;"><%= day["title"] %></h5>
                    <hr style="margin-bottom: 3px; margin-top: 3px;">
                </div>
                    <p class="card-text"><%= day["synopsis"].substring(0,150) %> ...</p>
                    <% if( day["source"] != null ){ %>
                        <h6 style="display: inline-block;">Score: </h6> <%= day["source"] %><br>
                    <% } %>
                    <% if( day["score"] != null && day["score"] != '0' ){ %>
                        <h6 style="display: inline-block;">Score: </h6> <%= day["score"] %><br>
                    <% } %>
                    <a href="/anime/<%= day["mal_id"] %>" class="btn btn-primary">More Info</a>
            </div>
        </div>
        <% }) %>     
    </div>
    
    <h4>Thursday</h4>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% data["thursday"].forEach(function(day) {%>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <div class="thumbnail">
                    <img style="width: 225px; height: 346px; object-fit: cover;" src="<%= day["image_url"] %>">
                    <div class="caption">
                        <h5 style="margin-bottom: 7px; margin-top: 7px;"><%= day["title"] %></h5>
                        <hr style="margin-bottom: 3px; margin-top: 3px;">
                    </div>
                        <p class="card-text"><%= day["synopsis"].substring(0,150) %> ...</p>
                        <% if( day["source"] != null ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["source"] %><br>
                        <% } %>
                        <% if( day["score"] != null && day["score"] != '0' ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["score"] %><br>
                        <% } %>
                        <a href="/anime/<%= day["mal_id"] %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <% }) %>     
    </div>
    <h4>Friday</h4>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% data["friday"].forEach(function(day) {%>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <div class="thumbnail">
                    <img style="width: 225px; height: 346px; object-fit: cover;" src="<%= day["image_url"] %>">
                    <div class="caption">
                        <h5 style="margin-bottom: 7px; margin-top: 7px;"><%= day["title"] %></h5>
                        <hr style="margin-bottom: 3px; margin-top: 3px;">
                    </div>
                        <p class="card-text"><%= day["synopsis"].substring(0,150) %> ...</p>
                        <% if( day["source"] != null ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["source"] %><br>
                        <% } %>
                        <% if( day["score"] != null && day["score"] != '0' ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["score"] %><br>
                        <% } %>
                        <a href="/anime/<%= day["mal_id"] %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <% }) %>     
    </div>
    
    <h4>Saturday</h4>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% data["saturday"].forEach(function(day) {%>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <div class="thumbnail">
                    <img style="width: 225px; height: 346px; object-fit: cover;" src="<%= day["image_url"] %>">
                    <div class="caption">
                        <h5 style="margin-bottom: 7px; margin-top: 7px;"><%= day["title"] %></h5>
                        <hr style="margin-bottom: 3px; margin-top: 3px;">
                    </div>
                        <p class="card-text"><%= day["synopsis"].substring(0,150) %> ...</p>
                        <% if( day["source"] != null ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["source"] %><br>
                        <% } %>
                        <% if( day["score"] != null && day["score"] != '0' ){ %>
                            <h6 style="display: inline-block;">Score: </h6> <%= day["score"] %><br>
                        <% } %>
                        <a href="/anime/<%= day["mal_id"] %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <% }) %>     
    </div>    
</div>