<%- include("./partials/header") %>
<div class="container">
    <h4>Sunday</h4>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["sunday"].forEach(function(day) { %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/anime/<%= day["mal_id"] %>">
                    <img src="<%= day["image_url"] %>" width="100%" alt="anime-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= day["mal_id"] %>"><%= day["title"] %></a>
            </div>
            <div>
                <% if( day.genres != null ){ %>
                    <% for( var j = 0; j < day.genres.length; j++) { %>
                        <a href="/genre/<%= day.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= day.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( day["score"] !== null || day["score"] !== '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= day["score"] %></span>)</li>
                <% } %>
                <% day.producers.forEach(function(studio){ %>
                <li class="list-inline-item text-success"><%= studio["name"] %></li>
                <% }) %>
                <li class="list-inline-item text-secondary">Source: <%= day["source"] %> 
                    <% if( day["episodes"] != null){ %>
                        | <%= day["episodes"] %>
                    <% } %> Eps
                </li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= day["synopsis"].substring(0,400) %>...
                <br>
                <% if( day["airing_start"] != null && day.type != null){ %>
                    <span class="text-info"><em><%= day.type %>- <%= day["airing_start"].substring(0,10) %></em></span>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>

    <h3>Monday</h3>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["monday"].forEach(function(day) { %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/anime/<%= day["mal_id"] %>">
                    <img src="<%= day["image_url"] %>" width="100%" alt="anime-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= day["mal_id"] %>"><%= day["title"] %></a>
            </div>
            <div>
                <% if( day.genres != null ){ %>
                    <% for( var j = 0; j < day.genres.length; j++) { %>
                        <a href="/genre/<%= day.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= day.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( day["score"] !== null || day["score"] !== '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= day["score"] %></span>)</li>
                <% } %>
                <% day.producers.forEach(function(studio){ %>
                <li class="list-inline-item text-success"><%= studio["name"] %></li>
                <% }) %>
                <li class="list-inline-item text-secondary">Source: <%= day["source"] %> 
                    <% if( day["episodes"] != null){ %>
                        | <%= day["episodes"] %>
                    <% } %> Eps
                </li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= day["synopsis"].substring(0,400) %>...
                <br>
                <% if( day["airing_start"] != null && day.type != null){ %>
                    <span class="text-info"><em><%= day.type %>- <%= day["airing_start"].substring(0,10) %></em></span>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>

    <h3>Tuesday</h3>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["tuesday"].forEach(function(day) { %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/anime/<%= day["mal_id"] %>">
                    <img src="<%= day["image_url"] %>" width="100%" alt="anime-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= day["mal_id"] %>"><%= day["title"] %></a>
            </div>
            <div>
                <% if( day.genres != null ){ %>
                    <% for( var j = 0; j < day.genres.length; j++) { %>
                        <a href="/genre/<%= day.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= day.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( day["score"] !== null || day["score"] !== '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= day["score"] %></span>)</li>
                <% } %>
                <% day.producers.forEach(function(studio){ %>
                <li class="list-inline-item text-success"><%= studio["name"] %></li>
                <% }) %>
                <li class="list-inline-item text-secondary">Source: <%= day["source"] %> 
                    <% if( day["episodes"] != null){ %>
                        | <%= day["episodes"] %>
                    <% } %> Eps
                </li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= day["synopsis"].substring(0,400) %>...
                <br>
                <% if( day["airing_start"] != null && day.type != null){ %>
                    <span class="text-info"><em><%= day.type %>- <%= day["airing_start"].substring(0,10) %></em></span>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>

    <h3>Wednesday</h3>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["wednesday"].forEach(function(day) { %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/anime/<%= day["mal_id"] %>">
                    <img src="<%= day["image_url"] %>" width="100%" alt="anime-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= day["mal_id"] %>"><%= day["title"] %></a>
            </div>
            <div>
                <% if( day.genres != null ){ %>
                    <% for( var j = 0; j < day.genres.length; j++) { %>
                        <a href="/genre/<%= day.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= day.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( day["score"] !== null || day["score"] !== '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= day["score"] %></span>)</li>
                <% } %>
                <% day.producers.forEach(function(studio){ %>
                <li class="list-inline-item text-success"><%= studio["name"] %></li>
                <% }) %>
                <li class="list-inline-item text-secondary">Source: <%= day["source"] %> 
                    <% if( day["episodes"] != null){ %>
                        | <%= day["episodes"] %>
                    <% } %> Eps
                </li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= day["synopsis"].substring(0,400) %>...
                <br>
                <% if( day["airing_start"] != null && day.type != null){ %>
                    <span class="text-info"><em><%= day.type %>- <%= day["airing_start"].substring(0,10) %></em></span>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>

    <h3>Thursday</h3>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["thursday"].forEach(function(day) { %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/anime/<%= day["mal_id"] %>">
                    <img src="<%= day["image_url"] %>" width="100%" alt="anime-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= day["mal_id"] %>"><%= day["title"] %></a>
            </div>
            <div>
                <% if( day.genres != null ){ %>
                    <% for( var j = 0; j < day.genres.length; j++) { %>
                        <a href="/genre/<%= day.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= day.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( day["score"] !== null || day["score"] !== '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= day["score"] %></span>)</li>
                <% } %>
                <% day.producers.forEach(function(studio){ %>
                <li class="list-inline-item text-success"><%= studio["name"] %></li>
                <% }) %>
                <li class="list-inline-item text-secondary">Source: <%= day["source"] %> 
                    <% if( day["episodes"] != null){ %>
                        | <%= day["episodes"] %>
                    <% } %> Eps
                </li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= day["synopsis"].substring(0,400) %>...
                <br>
                <% if( day["airing_start"] != null && day.type != null){ %>
                    <span class="text-info"><em><%= day.type %>- <%= day["airing_start"].substring(0,10) %></em></span>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>

    <h3>Friday</h3>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["friday"].forEach(function(day) { %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/anime/<%= day["mal_id"] %>">
                    <img src="<%= day["image_url"] %>" width="100%" alt="anime-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= day["mal_id"] %>"><%= day["title"] %></a>
            </div>
            <div>
                <% if( day.genres != null ){ %>
                    <% for( var j = 0; j < day.genres.length; j++) { %>
                        <a href="/genre/<%= day.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= day.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( day["score"] !== null || day["score"] !== '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= day["score"] %></span>)</li>
                <% } %>
                <% day.producers.forEach(function(studio){ %>
                <li class="list-inline-item text-success"><%= studio["name"] %></li>
                <% }) %>
                <li class="list-inline-item text-secondary">Source: <%= day["source"] %> 
                    <% if( day["episodes"] != null){ %>
                        | <%= day["episodes"] %>
                    <% } %> Eps
                </li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= day["synopsis"].substring(0,400) %>...
                <br>
                <% if( day["airing_start"] != null && day.type != null){ %>
                    <span class="text-info"><em><%= day.type %>- <%= day["airing_start"].substring(0,10) %></em></span>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>

    <h3>Saturday</h3>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["saturday"].forEach(function(day) { %>
            <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <a href="/anime/<%= day["mal_id"] %>">
                    <img src="<%= day["image_url"] %>" width="100%" alt="anime-cover">
                </a>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= day["mal_id"] %>"><%= day["title"] %></a>
            </div>
            <div>
                <% if( day.genres != null ){ %>
                    <% for( var j = 0; j < day.genres.length; j++) { %>
                        <a href="/genre/<%= day.genres[j]["mal_id"] %>" class="badge badge-light genre"><%= day.genres[j]["name"] %></a>
                    <% } %>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( day["score"] !== null || day["score"] !== '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= day["score"] %></span>)</li>
                <% } %>
                <% day.producers.forEach(function(studio){ %>
                <li class="list-inline-item text-success"><%= studio["name"] %></li>
                <% }) %>
                <li class="list-inline-item text-secondary">Source: <%= day["source"] %> 
                    <% if( day["episodes"] != null){ %>
                        | <%= day["episodes"] %>
                    <% } %> Eps
                </li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= day["synopsis"].substring(0,400) %>...
                <br>
                <% if( day["airing_start"] != null && day.type != null){ %>
                    <span class="text-info"><em><%= day.type %>- <%= day["airing_start"].substring(0,10) %></em></span>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>
</div>
