<!-- --------Search Results-------- -->

<%- include("./partials/header") %>

<div class="container">
    <h3 style="text-align: center;">Search Results</h3>
    <hr>
    <div class="row mt-1 mx-0">
        <% data["results"].forEach(function(anime){ %>
        <div class="class anime-entry col-lg-6 border-bottom pl-0 my-1">
            <div class="rounded anime_cover mr-2">
                <% if( anime["type"] == 'TV' || anime["type"] == 'Movie' || anime["type"] == 'Music' || anime["type"] == 'ONA' || anime["type"] == 'OVA' ){ %>
                <a href="/anime/<%= anime["mal_id"] %>">
                    <img src="<%= anime["image_url"] %>" width="100%" alt="anime-cover">
                </a>
                <% } else { %>
                <a href="/manga/<%= anime["mal_id"] %>">
                    <img src="<%= anime["image_url"] %>" width="100%" alt="anime-cover">
                </a>
                <% } %>
            </div>
            <div class="text-truncate title mb-1 d-flex flex-nowrap align-items-center">
                <% if( anime["type"] == 'TV' || anime["type"] == 'Movie' || anime["type"] == 'Music' || anime["type"] == 'ONA' || anime["type"] == 'OVA' || anime["type"] == 'Special'){ %>
                <a class="ml-1 anime_title text-truncate" href="/anime/<%= anime["mal_id"] %>"><%= anime["title"] %></a>
                <% } else { %>
                <a class="ml-1 anime_title text-truncate" href="/manga/<%= anime["mal_id"] %>"><%= anime["title"] %></a>
                <% } %>
            </div>
            <ul class="list-inline m-1">
                <% if( anime["score"] != null || anime["score"] != '0' ){ %>
                <li class="list-inline-item text-primary">Score (<span><%= anime["score"] %></span>)</li>
                <% } %>
                <li class="list-inline-item text-success">Type: <%= anime["type"] %></li>
                <li class="list-inline-item text-info">Members: <%= anime["members"] %></li>
            </ul>
            <div style="height: 210px; overflow: hidden;">
                <%= anime["synopsis"] %>
                <br>
                <% if( anime["end_date"] != null ){ %>
                    <% if( anime["type"] == 'TV' || anime["type"] == 'Movie' || anime["type"] == 'Music' || anime["type"] == 'ONA' || anime["type"] == 'OVA' || anime["type"] == 'Special'){ %>
                        <span class="text-info"><em>Aired: <%= anime["start_date"].substring(0,10) %> to <%= anime["end_date"].substring(0,10) %></em></span>
                    <% } else { %>
                        <span class="text-info"><em>Published: <%= anime["start_date"].substring(0,10) %> to <%= anime["end_date"].substring(0,10) %></em></span>
                    <% } %>
                <% } %>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<%- include("./partials/footer") %>
