<%- include("./partials/header") %>

<div class="container" style="margin-top: 15px;">
    <h4 style="margin-top: 25px; margin-bottom: 15px;"><%= data.season_name %> <%= data.season_year %> Anime</h4>
    <hr>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% data["anime"].forEach(function(season){ %>
            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <div class="thumbnail">
                    <img class="shadow" style="width: 225px; height: 346px; object-fit: cover;" src="<%= season.image_url %>">
                    <div class="caption">
                        <h5 style="margin-bottom: 7px; margin-top: 7px;"><%= season.title %></h5>
                        <hr style="margin-bottom: 3px; margin-top: 3px;">
                    </div>
                    <% if ( season.airing_start != null){ %>
                        <h6 style="display: inline-block;">Airing Start: </h6>
                            <%= season.airing_start.substring(0,10) %>
                    <% } %>
                        <p style="margin-bottom: 7px;" class="card-text"><%= season.synopsis.substring(0,150) %> ...</p>
                    <% if( season["genres"] != null ){ %>
                        <h6 style="display: inline-block; line-height: 65%;" style="margin-bottom: 5px;">Genres: </h6> 
                        <% for( var i = 0; i < season["genres"].length; i++) { %>
                            <a href="/genre/<%= season.genres[i]["mal_id"] %>" class="badge badge-info"><%= season.genres[i]["name"] %></a>
                        <% } %>
                        <br>
                    <% } %>
                    <% if( season["episodes"] != null){ %>
                        <h6 style="display: inline-block;">No of Episodes: </h6> <%= season["episodes"] %><br>
                    <% } %>
                    <% if( season["score"] != null && season["score"] != '0' ){ %>
                        <h6 style="display: inline-block;">Score: </h6> <%= season["score"] %><br>
                    <% } %>
                    <% if( season.source != null ){ %>
                        <h6 style="display: inline-block;">Source: </h6> <%= season.source %><br>
                    <% } %>
                        <a href="/anime/<%= season.mal_id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>  
        <% }); %>
    </div>
</div>