<%- include("./partials/header") %>

<div class="container">
    <h3 class="mt-3">Season Archive</h3>
    <hr>
    <div class="row">
    <% data["archive"].forEach(function(season){ %>
        <div class="col-md-2 mt-2 mb-2">
            <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= season["year"] %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% for (i = 0; i < season.seasons.length; i++) { %>
                    <a class="dropdown-item" href="/season/<%= season["year"] %>/<%= season.seasons[i].toLowerCase() %>"><%= season.seasons[i] %></a>
                    <% } %>
                </div>
              </div>
        </div>
    <% }) %>
    </div>
</div>

<%- include("./partials/footer") %>